<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/libs/bootstrap.css">
        <link rel="stylesheet" href="/libs/font-awesome.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <script src="/js/libs/jquery-1.11.3.min.js"></script> 
        <script src="/js/libs/bootstrap.min.js"></script>

        
        
        
        
        
    </head>
    <body>
  
         <%- body%>
     
         
    
  <script type="text/javascript" src="/js/index.js"></script>
   <script type="text/javascript" src="/js/payment.js"></script>
   <script src="/js/prefixfree.min.js"></script>
    </body>
</html>