<div class="container" style="padding-left:0px">
  <div class="jumbotron" style="text-align:center;height:100%">
    <h3>Hi <%= name %></h3>
    <p>Your Payment is successful</p>
    <p>Please wait while we prepare your order.</p>
    <button type="submit" class="btn btn-primary" onClick="homeNavigation()"><a href="/" style="color:white;">HOME</a></button>
  </div>
  
</div>